
{{!-- <!-- Nav --> --}}
<nav class="navbar nav- inverse">

    {{!--div .container-fluid--}}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        
        {{!-- <!--  Main navigation  --> --}}
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
        {{!-- <!--/main navigation--> --}}
    </div>
    {{!--/div .container-fluid  --}}			
</nav>
{{!-- <!-- /Nav --> --}}

{{!-- jumbotron begins --}}
<div class="jumbotron text-center">
    <div class="overlay"></div>

    <div class="background-image"></div>

    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>
{{!-- /jumbotron --}}

<div class="container-fluid article-container"></div>

{{!-- footer --}}
<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>
{{!-- /footer --}}

{{!-- scripts --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../assets/js/saved.js"></script>


